.validation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
  background-color:#2b2e36;
}

.validation-page-title {
  margin-bottom: 1rem;
  font-size: 34px;
  color: #f6f6f6;
  font-style: italic;
  font-family: sans-serif;
}

.validation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  background-color: #f6f6f6;;
  -webkit-box-shadow: 7px 5px 15px 3px rgba(49, 47, 47, 0.9);
  box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
  min-width: 100vh;
}

.validation-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 20px;
  color: rgb(2, 50, 56);
  font-family: sans-serif;
}

.validation-input {
  padding: 0.5rem;
  font-size: 16px;
  border: 3px solid #ccc;
  border-radius: 20px;
  min-width: 100vh;
}

.validation-button {
  padding: 0.5rem 1rem;
  font-size: 22px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 7px 5px 15px 3px rgba(49, 47, 47, 0.9);
  box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
  background-color: #a6f8f4;
  color: #0f0f0f;
  cursor: pointer;
}
.validation-button:hover{
  background-color: #7dc2ec;
}
